<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RAGETIX | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/style/style1.css" rel="stylesheet">
    <link rel="icon" href="static/image/ragetix-logo-icon.png" type="png">
  </head>

  <body class="mb-4"> <!--Margin for Body-->

    <!-- Page Header -->
    <div class="coloured-jumbotron-2 jumbotron-fluid text-center header-jumbotron mb-5">
      <div class="container">
        <div class="row align-items-center">

          <!-- Dropdown Menu-->
          <div class="col-1">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                ☰
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="index.html">HOME</a></li>
                <li><a class="dropdown-item" href="event_details.html">EVENT DETAILS</a></li>
                <li><a class="dropdown-item" href="event_create.html">CREATE AN EVENT</a></li>
                <li><a class="dropdown-item" href="user_history.html">BOOKING HISTORY</a></li>
              </ul>
            </div>
          </div>

          <!--Main Text-->
          <div class="col-10 text-center">
            <h1 class="display-1 bold-text">RAGETIX</h1>
          </div>

          <!-- Logo on the Right -->
          <div class="col-1">
            <img src="static/image/ragetix-logo.png" alt="RAGETIX Logo" class="float-end" style="max-width: 100px;">
          </div>
        </div>
      </div>
    </div>
    
      
    </div>

    <!-- Navigation Bar -->
    <div class="container mb-5">
      <div class="row">
        <div class="col-3">
          <button type="button" class="btn nav-btn"><a href="index.html" class="custom-link">HOME</a></button>
        </div>
        <div class="col-3">
          <button type="button" class="btn nav-btn btn-block"><a href="event_details.html" class="custom-link">EVENT DETAILS</a></button>
        </div>
        <div class="col-3">
          <button type="button" class="btn nav-btn btn-block"><a href="event_create.html" class="custom-link">CREATE AN EVENT</a></button>
        </div>
        <div class="col-3">
          <button type="button" class="btn nav-btn btn-block"><a href="user_history.html" class="custom-link">BOOKING HISTORY</a></button>
        </div>
      </div>
    </div>

  

    <!-- Search Bar -->
    <div class="container mb-5">
      <div class="row">
        <div class="col-0"></div>
        <div class="col-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for your next event.">
            <button class="btn btn-outline-success" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Now Trending Section -->
    <div class="container mb-4">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center">
            <h1 class="nowtrending-text"><strong>TRENDING EVENTS</strong></h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Cards -->
    <div class="container mb-4">
      <div class="row">
        <div class="col-12">
          <div class="custom-card">
            <!-- Image -->
            <img src="static/image/denzel-1.png" alt="Event Banner" class="card-img-top img-fluid">
            <!-- Card Body -->
            <div class="card-body">
              <h3 class="card-title"><strong>DENZEL CURRY | DOWN UNDER TOUR</strong></h3>
              <p class="card-text">Don't miss out on the final stop of Denzel Curry's DOWN UNDER TOUR at Brisbane's Eatons Hill Hotel. After selling out his last tour, Denzel is looking to go even further and harder than last time.</p>
              <p class="card-text">Also featuring supporting acts, a VIP experience like he's never had before and limited edition EXCLUSIVE to Australia merch, be sure to get your tickets while they last.</p>
              <p class="card-text">Not Familiar with the artist? Listen now and see what all the RAGE is about.</p>
              <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/091n9MH1VUepOdhnv7SLci?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              <a href="event_details.html" class="btn green-button">BUY TICKETS</a>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <div class="container mb-4">
        <div class="row">
          <div class="col-12">
            <div class="custom-card">
              <!-- Image -->
              <img src="static/image/drake-card-1.png" alt="Event Banner" class="card-img-top img-fluid">
              <!-- Card Body -->
              <div class="card-body">
                <h3 class="card-title"><strong>Drake | Certified Lover Boy Arena TOUR</strong></h3>
                <p class="card-text">One of the biggest names in music is making their way around Australia. Don't miss out on Drake's CLB Arena Tour.</p>
                <p class="card-text">Experience Drake's exhilarating "Certified Lover Boy" tour, where hip-hop meets spectacle. The Grammy-winning artist takes you on a musical journey, featuring chart-topping hits, mesmerizing visuals, and unforgettable guest performances. Don't miss this epic ride!</p>
                <p class="card-text">Not Familiar with the artist? Listen now and see what all the RAGE is about.</p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7aRCf5cLOFN1U7kvtChY1G?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <button type="button" class="btn sold-out-button" disabled>SOLD OUT</button>
                <hr>
              </div>
            </div>  
          </div>
        </div>

        <div class="container mb-4">
          <div class="row">
            <div class="col-12">
              <div class="custom-card">
                <!-- Image -->
                <img src="static/image/yung-lean-1.png" alt="Event Banner" class="card-img-top img-fluid">
                <!-- Card Body -->
                <div class="card-body">
                  <h3 class="card-title"><strong>Yung Lean | SADBOYS Worldwide</strong></h3>
                  <p class="card-text">Unveiling the much-anticipated SADBOYS Worldwide Tour, Yung Lean is set to captivate audiences with his unique blend of melancholic rap and ethereal beats. Don't miss the Swedish artist as he journeys through cities across the globe, delivering an experience that promises to be both emotionally raw and musically transcendent.</p>
                  <p class="card-text">Pre-register your interest now by adding the event to your watchlist and get notified when tickets go on sale.</p>
                  <p class="card-text">Not Familiar with the artist? Listen now and see what all the RAGE is about.</p>
                  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2aXtvKNcNHlbZEsZ5C9yVB?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                  <button type="button" class="btn register-button">REGISTER</button>
                  <hr>
                </div>
              </div>
            </div>
          </div>
    </div>

    <footer class="custom-footer">
      <div class="container text-center">
        <p class="mb-0">IAB207 A2 - n11537990 - Dakota Haacke</p>
      </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>