{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h4>{{heading}}</h4>
    </div>

    <!-- Form rendering is simple and easy if using WTForms -->
    <!-- If you want more granular control, declare the form manually: -->
    <!-- <form action="/route" method="post"> -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container-fluid">
        <div class="row mt-3 mb-3">
            <div class="col-md-12">
                {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <div class="col-md-6 ml-5">
    {{wtf.render_form(form)}}
    </div>
    <!-- When you have login form, then show the user a link to register -->
    {% if heading|lower =='login' %}
    <div class="col-md-4">
        <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    </div>
    {% endif %}
</div>
{% endblock %}